<nav class="navbar navbar-light navbar-glass navbar-top navbar-expand">
    <ul class="navbar-nav align-items-center d-none d-lg-block"></ul>
    <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center"></ul>
</nav>