@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0 overflow-hidden">
                <div class="product-slider " id="galleryTop">
                    <div class="swiper-container theme-slider position-lg-absolute all-0 " data-swiper='{"autoHeight":true,"spaceBetween":5,"loop":true,"loopedSlides":5,"thumb":{"spaceBetween":5,"slidesPerView":5,"loop":true,"freeMode":true,"grabCursor":true,"loopedSlides":5,"centeredSlides":true,"slideToClickedSlide":true,"watchSlidesVisibility":true,"watchSlidesProgress":true,"parent":"#galleryTop"},"slideToClickedSlide":true}'>
                        <div class="swiper-wrapper h-100">
                            <div class="swiper-slide h-100"><img class="rounded-1 fit-cover h-100 w-100" src="https://vnras.com/drug/wp-content/uploads/2023/12/dau-nua-dau-14.jpg" alt="" /></div>
                            <div class="swiper-slide h-100"><img class="rounded-1 fit-cover h-100 w-100" src="https://vnras.com/drug/wp-content/uploads/2023/12/dau-nua-dau-1-1.jpg" alt="" /></div>
                            <div class="swiper-slide h-100"> <img class="rounded-1 fit-cover h-100 w-100" src="https://vnras.com/drug/wp-content/uploads/2023/12/dau-nua-dau-2.jpg" alt="" /></div>
                            <div class="swiper-slide h-100"> <img class="rounded-1 fit-cover h-100 w-100" src="https://vnras.com/drug/wp-content/uploads/2023/12/dau-nua-dau-3.jpg" alt="" /></div>
                            <div class="swiper-slide h-100"> <img class="rounded-1 fit-cover h-100 w-100" src="https://vnras.com/drug/wp-content/uploads/2023/12/dau-nua-dau-4.jpg" alt="" /></div>
                            <div class="swiper-slide h-100"> <img class="rounded-1 fit-cover h-100 w-100" src="https://vnras.com/drug/wp-content/uploads/2023/12/dau-nua-dau-5.jpg" alt="" /></div>
                        </div>
                        <div class="swiper-nav">
                            <div class="swiper-button-next swiper-button-white"></div>
                            <div class="swiper-button-prev swiper-button-white"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5>Paracetamol</h5><a class="fs--1 mb-2 d-block" href="#!">Thuốc và giảm đau</a>
                <div class="fs--2 mb-3 d-inline-block text-decoration-none">
                    <span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star-half-alt text-warning star-icon"></span><span class="ms-1 text-600">(8)</span>
                </div>
                <p class="fs--1">
                    Thuốc điều trị bệnh đau nửa đầu cần tập trung điều trị vào 3 điểm như sau:

                    Điều trị cắt cơn đau đầu cấp: điều trị triệu chứng bệnh, người bệnh có thể dùng thuốc giảm đau thông thường như Paracetamol. Ngoài ra, các thuốc hoạt huyết dưỡng não, bổ não cũng giúp cải thiện triệu chứng đau đầu này.
                    Xác định yếu tố gây đau và hạn chế yếu tố này: việc xác định và tránh yếu tố kích hoạt gây đau giúp điều trị bệnh hiệu quả và ngăn ngừa bệnh tái phát.
                    Điều trị phòng ngừa cơn đau đầu tái phát: cần đi khám để xác định đau đầu do nguyên nhân nào và dùng thuốc để điều trị. Việc dùng thuốc này cần kiên trì và có thể phải kéo dài trong nhiều tuần mới đạt hiệu quả.
                    Thuốc điều trị triệu chứng làm giảm cơn đau nửa đầu luôn là lựa chọn đầu tiên trong điều trị căn bệnh này. Dưới đây là các tiêu chí lựa chọn thuốc điều trị hiện nay.
                </p>
                <h4 class="d-flex align-items-center">
                    <span class="text-warning me-2">$1200</span><span class="me-1 fs--1 text-500">
                        <del class="me-1">$2400</del><strong>-50%</strong>
                    </span>
                </h4>
                <p class="fs--1 mb-1"> <span>Shipping Cost: </span><strong>$50</strong></p>
                <p class="fs--1">Stock: <strong class="text-success">Available</strong></p>
                <div class="row">
                    <div class="col-auto pe-0">
                        <div class="input-group input-group-sm" data-quantity="data-quantity">
                            <button class="btn btn-sm btn-outline-secondary border-300" data-field="input-quantity" data-type="minus">-</button>
                            <input class="form-control text-center input-quantity input-spin-none" type="number" min="0" value="0" aria-label="Amount (to the nearest dollar)" style="max-width: 50px" />
                            <button class="btn btn-sm btn-outline-secondary border-300" data-field="input-quantity" data-type="plus">+</button>
                        </div>
                    </div>
                    <div class="col-auto px-2 px-md-3"><a class="btn btn-sm btn-primary" href="#!"><span class="iconify-inline fs--2" data-icon="mdi:cart"></span><span class="d-none d-sm-inline-block">Buy</span></a></div>
                    <div class="col-auto px-0"><a class="btn btn-sm btn-outline-danger border-300" href="#!" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to Wish List"><span class="iconify-inline fs--2" data-icon="mdi:heart"></span>282</a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="overflow-hidden mt-4">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link active ps-0" id="description-tab" data-bs-toggle="tab" href="#tab-description" role="tab" aria-controls="tab-description" aria-selected="true">Description</a></li>
                        <li class="nav-item"><a class="nav-link px-2 px-md-3" id="reviews-tab" data-bs-toggle="tab" href="#tab-reviews" role="tab" aria-controls="tab-reviews" aria-selected="false">Reviews</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-description" role="tabpanel" aria-labelledby="description-tab">
                            <div class="mt-3">
                                <p>
                                    Đau nửa đầu là bệnh lý chỉ ảnh hưởng đến một bên đầu. Người bệnh có thể bị đau nửa đầu bên trái hoặc đau ở nửa đầu phía bên phải. Bệnh có tên gọi trong tiếng anh là Migraine. Đây là căn bệnh xuất hiện khá phổ biến hiện nay, tỷ lệ người mắc bệnh là nữ giới nhiều hơn nam giới.

                                    Tính chất cơn đau trong bệnh đau đầu Migraine là đau đầu một bên đột ngột và dữ dội, có thể đi kèm các triệu chứng như: buồn nôn, nôn mửa, nhạy cảm với ánh sáng và tiếng ồn.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-reviews" role="tabpanel" aria-labelledby="reviews-tab">
                            <div class="row mt-3">
                                <div class="col-lg-6 mb-4 mb-lg-0">
                                    <div class="mb-1">
                                        <span class="fa fa-star text-warning fs--1"></span><span class="fa fa-star text-warning fs--1"></span><span class="fa fa-star text-warning fs--1"></span><span class="fa fa-star text-warning fs--1"></span><span class="fa fa-star text-warning fs--1"></span><span class="ms-3 text-dark fw-semi-bold">Awesome support, great code 😍</span>
                                    </div>
                                    <p class="fs--1 mb-2 text-600">By Drik Smith • October 14, 2019</p>
                                    <p class="mb-0">You shouldn't need to read a review to see how nice and polished this theme is. So I'll tell you something you won't find in the demo. After the download I had a technical question, emailed the team and got a response right from the team CEO with helpful advice.</p>
                                    <hr class="my-4" />
                                    <div class="mb-1">
                                        <span class="fa fa-star text-warning fs--1"></span><span class="fa fa-star text-warning fs--1"></span><span class="fa fa-star text-warning fs--1"></span><span class="fa fa-star text-warning fs--1"></span><span class="fa fa-star-half-alt text-warning star-icon fs--1"></span><span class="ms-3 text-dark fw-semi-bold">Outstanding Design, Awesome Support</span>
                                    </div>
                                    <p class="fs--1 mb-2 text-600">By Liane • December 14, 2019</p>
                                    <p class="mb-0">This really is an amazing template - from the style to the font - clean layout. SO worth the money! The demo pages show off what Bootstrap 4 can impressively do. Great template!! Support response is FAST and the team is amazing - communication is important.</p>
                                </div>
                                <div class="col-lg-6 ps-lg-5">
                                    <form>
                                        <h5 class="mb-3">Write your Review</h5>
                                        <div class="mb-3">
                                            <label class="form-label">Ratting: </label>
                                            <div class="d-block" data-rater='{"starSize":32,"step":0.5}'></div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formGroupNameInput">Name:</label>
                                            <input class="form-control" id="formGroupNameInput" type="text" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formGroupEmailInput">Email:</label>
                                            <input class="form-control" id="formGroupEmailInput" type="email" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formGrouptextareaInput">Review:</label>
                                            <textarea class="form-control" id="formGrouptextareaInput" rows="3"></textarea>
                                        </div>
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>