@{
    ViewData["Title"] = "Ticket Info";
}

@section Heads {
    <link rel="stylesheet" href="~/css/brand/brand-list.css"/>
}

<div id="mainCard" class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5>Tạo Ticket</h5>
        <div id="newBtnGroup">
            <button class="btn btn-danger btn-sm" type="button">
                <span class="iconify-inline" data-icon="bx:arrow-back"></span>
                <span>Quay lại</span>
            </button>
        </div>
    </div>
    <div class="card-body border-top py-3">
        <div class="d-grid position-relative transition-base">
            <div class="ps-0 mb-3 mb-lg-0 d-flex justify-content-center">
                <div class="ps-0 my-3 w-100 w-lg-75 needs-validation" novalidate>
                    <div class="row">
                        <div class="col-lg-6">
                            <div>
                                <div class="fw-bold">
                                    <span class="iconify-inline fs-2" data-icon="mdi:id-card-outline"></span>
                                    <span>Import ID</span>
                                </div>
                                <p>1</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <div class="fw-bold">
                                    <span class="iconify-inline fs-2" data-icon="mdi:qrcode"></span>
                                    <span>Ticket Code</span>
                                </div>
                                <p>1</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <div class="fw-bold">
                                    <span class="iconify-inline fs-2" data-icon="mdi:id-card-outline"></span>
                                    <span>Employee ID</span>
                                </div>
                                <p>1</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <div class="fw-bold">
                                    <span class="iconify-inline fs-2" data-icon="mdi:date-range"></span>
                                    <span>Import Date</span>
                                </div>
                                <p>1</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <div class="fw-bold">
                                    <span class="iconify-inline fs-2" data-icon="mdi:id-card-outline"></span>
                                    <span>Creator ID</span>
                                </div>
                                <p>1</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <div class="fw-bold">
                                    <span class="iconify-inline fs-2" data-icon="mdi:list-status"></span>
                                    <span>Status</span>
                                </div>
                                <p>1</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <div class="fw-bold">
                                    <span class="iconify-inline fs-2" data-icon="mdi:format-letter-case-upper"></span>
                                    <span>Total Pay</span>
                                </div>
                                <p>1</p>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-danger w-100 w-lg-25 mt-3 mb-4" type="submit">
                        <span class="iconify-inline" data-icon="bx:arrow-back"></span>
                        Quay lại
                        </button>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/list.js/list.js"></script>
    <script src="~/js/brand/brand-list.js"></script>
}