@{
    ViewData["Title"] = "РС-28 Сармат";
}

@section Heads {
    <link rel="stylesheet" href="~/css/employee/employee-detail.css"/>
}

<div class="card p-4 mt-8 empContent position-relative">
    <div class="avatar-wrapper rounded-3 p-2 bg-white shadow position-absolute">
        <div class="h-100 w-100 rounded-2 overflow-hidden">
            <img class="h-100 w-100 fit-cover" src="https://img.freepik.com/premium-photo/painting-mountain-lake-with-lake-mountains-background_14117-17445.jpg" alt="">
        </div>
    </div>
    <div class="position-absolute emp-name ps-5">
        <h2 class="h2 fw-bold">РС-28 Сармат</h2>
    </div>
    <div class="emp-info ps-5">
        <p class="fs-0 fw-bold">RS28Sarmat</p>
        <div class="d-flex gap-3 mb-3">
            <div>
                <span class="iconify-inline fs-2 search-box-icon" data-icon="mdi:gender-male"></span>
            </div>
            <div>
                <label class="form-label opacity-85 m-0">Giới tính</label>
                <p class="fw-medium m-0 fs-1">Nam</p>
            </div>
        </div>
        <div class="d-flex gap-3 mb-3">
            <div>
                <span class="iconify-inline fs-2 search-box-icon" data-icon="ic:baseline-phone"></span>
            </div>
            <div>
                <label class="form-label opacity-85 m-0">Số điện thoại</label>
                <p class="fw-medium m-0 fs-1">098765431</p>
            </div>
        </div>
        <div class="d-flex gap-3 mb-3">
            <div>
                <span class="iconify-inline fs-2 search-box-icon" data-icon="ic:baseline-email"></span>
            </div>
            <div>
                <label class="form-label opacity-85 m-0">Email</label>
                <p class="fw-medium m-0 fs-1">example@gmail.com</p>
            </div>
        </div>
        <div class="d-flex gap-3 mb-3">
            <div>
                <span class="iconify-inline fs-2 search-box-icon" data-icon="entypo:address"></span>
            </div>
            <div>
                <label class="form-label opacity-85 m-0">Địa chỉ</label>
                <p class="fw-medium m-0 fs-1">43193 Cecily Pine, New Landonview, WA 86051</p>
            </div>
        </div>
        <div class="d-flex gap-3 mb-3">
            <div>
                <span class="iconify-inline fs-2 search-box-icon" data-icon="clarity:employee-solid"></span>
            </div>
            <div>
                <label class="form-label opacity-85 m-0">Chức vụ</label>
                <p class="fw-medium m-0 fs-1">Guard</p>
            </div>
        </div>
        <div class="d-flex gap-3 mb-3">
            <div>
                <span class="iconify-inline fs-2 search-box-icon" data-icon="fluent-emoji-high-contrast:department-store"></span>
            </div>
            <div>
                <label class="form-label opacity-85 m-0">Phòng ban</label>
                <p class="fw-medium m-0 fs-1">Krasnoyarsk</p>
            </div>
        </div>
    </div>
</div>