@{
    ViewData["Title"] = "Major";
    ViewData["Protected"] = true;
}
@section Heads {
    <link rel="stylesheet" href="~/css/major/major-list.css" />
}
<div id="mainCard" class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5>Danh sách Ngành sản phẩm</h5>
        <div id="newBtnGroup">
            <button id="newBtn" class="btn btn-falcon-success btn-sm" type="button">
                <span class="iconify-inline" data-icon="fluent:add-12-filled"></span>
                <span>Tạo mới</span>
            </button>
            <button id="closeNewBtn" class="btn btn-danger btn-sm" type="button">
                <span class="iconify-inline" data-icon="fluent:dismiss-12-filled"></span>
                <span>Huỷ</span>
                <span class="change-new">tạo mới</span>
                <span class="change-update">cập nhật</span>
            </button>
        </div>
    </div>
    <div class="card-body border-top py-3">
        <div id="mainGrid" class="d-grid position-relative transition-base">
            <div class="d-flex align-items-center gap-3">
                <div class="search-box">
                    <input type="search" name="searchInput" id="searchInput" maxlength="30" class="form-control search-input fw-medium" placeholder="Search..." autocomplete="off" spellcheck="false">
                    <span class="iconify-inline fs--1 search-box-icon" data-icon="fa:search"></span>
                    <button id="clearSearchBtn" class="btn p-0 position-absolute end-0 top-50 translate-middle shadow-none">
                        <div class="btn-close-falcon" aria-label="Close"></div>
                    </button>
                </div>
                <div class="d-none d-sm-flex flex-column d-md-block">
                    <span class="text-nowrap">Tìm kiếm</span>
                    <span>theo:</span>
                </div>
                <div class="d-md-flex flex-row gap-2">
                    <div class="form-check m-0">
                        <input class="form-check-input" value="true" checked id="byName" type="radio" name="searchBy" />
                        <label class="form-check-label m-0" for="byName">Tên</label>
                    </div>
                    <div class="form-check m-0">
                        <input class="form-check-input" id="byCode" value="false" type="radio" name="searchBy" />
                        <label class="form-check-label m-0" for="byCode">Mã</label>
                    </div>
                </div>
            </div>
            <div class="ps-3 align-self-center overflow-hidden">
                <h5 class="text-center text-nowrap" id="formTitle">Ngành sản phẩm mới</h5>
            </div>
            <div class="mt-3 z-index-2 bg-white" id="majorList">
                <div class="table-responsive scrollbar">
                    <table class="table table-hover table-striped table-bordered mb-0">
                        <colgroup>
                            <col />
                            <col />
                            <col style="width: 8rem">
                        </colgroup>
                        <thead class="bg-200 text-900">
                            <tr>
                                <th class="text-center">Mã</th>
                                <th>Tên</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <td class="majorCode text-center text-dark text-nowrap"></td>
                                <td class="majorName text-dark text-nowrap"></td>
                                <td class="p-0 h-0">
                                    <div class="h-100 d-flex gap-2 justify-content-center align-items-center actions">
                                        <button class="btn p-1 fs-2 edit-btn lh-1" title="Cập nhật">
                                            <span class="iconify-inline" data-icon="uil:edit"></span>
                                        </button>
                                        <button class="btn p-1 fs-2 delete-btn lh-1" title="Xoá">
                                            <span class="iconify-inline" data-icon="mi:delete"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="paginationBar" class="d-flex justify-content-center mt-3">
                    <button class="btn btn-sm btn-falcon-default me-1 lh-1 pagination-prev" type="button" title="Trang trước">
                        <span class="iconify-inline fs--2" data-icon="fa:chevron-left"></span>
                    </button>
                    <ul class="pagination mb-0 pagination-number-group" data-list></ul>
                    <button class="btn btn-sm btn-falcon-default ms-1 lh-1 pagination-next" type="button" title="Trang sau">
                        <span class="iconify-inline fs--2" data-icon="fa:chevron-right"></span>
                    </button>
                </div>
            </div>
            <div class="ps-0 ps-lg-3 mb-3 mb-lg-0">
                <form id="majorForm" class="position-relative position-lg-absolute end-0 ps-0 ps-lg-3 my-3 w-100 w-lg-33 z-index-1 needs-validation" novalidate>
                    <input type="hidden" name="majorId" id="majorId">
                    <fieldset>
                        <div class="mb-2">
                            <label for="majorCode" class="form-label">Mã ngành</label>
                            <div class="input-group has-validation">
                                <input required type="text" name="majorCode" id="majorCode" class="form-control" autocomplete="off" spellcheck="false">
                                <span class="input-group-text">
                                    <span class="iconify-inline fs-2" data-icon="mdi:format-letter-case-upper"></span>
                                </span>
                                <div class="invalid-feedback">Mã ngành hàng không được để trống</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="majorName" class="form-label">Tên ngành</label>
                            <input required type="text" name="majorName" id="majorName" class="form-control" autocomplete="off" spellcheck="false">
                            <div class="invalid-feedback">Tên Ngành không được để trống</div>
                        </div>
                        <button class="btn btn-primary w-100" type="submit">
                            <span class="change-new">Tạo</span>
                            <span class="change-update">Cập nhật</span>
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/list.js/list.js"></script>
    <script src="~/js/major/major-list.js"></script>
}