@import "../essential";

#mainGrid {
  grid-template-columns: 1fr 0;
  transition: all 0.2s ease-out;
}

#mainCard {
  &.newOpened #mainGrid {
    grid-template-columns: 1fr 33.33%;
  }

  &.newOpened {
    #newBtn {
      display: none;
    }

    #closeNewBtn {
      display: initial;
    }
  }

  &:not(.newOpened) {
    #newBtn {
      display: initial;
    }

    #closeNewBtn {
      display: none;
    }
  }
}

.change-update {
  display: none;
}

.updating .change-update {
  display: initial;
}

.change-new {
  display: initial;
}

.updating .change-new {
  display: none;
}

@include media-breakpoint-down(lg) {
  #mainGrid {
    grid-template-columns: 1fr !important;
  }
  
  div:has(> #formTitle) {
    order: -2;
  }

  div:has(> #brandForm) {
    order: -1;
  }

  #brandForm {
    overflow-y: hidden;
    height: 0;
  }
  
  .newOpened #brandForm {
    height: initial;
  }
}

#brandCode {
  text-transform: uppercase;
}