@{
    ViewData["Title"] = "Pham Thanh";
}

@section Heads {
    <link rel="stylesheet" href="~/css/customer/customer-detail.css"/>
}

<div class="card p-3 p-sm-4 mt-md-8 cus-content position-relative d-flex flex-column flex-md-row align-items-center align-items-md-start">
    
    <div class="position-md-absolute cus-name ">
        <h2 class="h2 fw-bold">Pham Thanh</h2>
    </div>
    
    <div class="cus-info me-auto">
        <div class="pt-2">
            <div class="d-flex gap-3 mb-3">
                <div>
                    <span class="iconify-inline fs-2 search-box-icon" data-icon="ic:baseline-email"></span>
                </div>
                <div>
                    <label class="form-label opacity-85 m-0">Email</label>
                    <p class="fw-medium m-0 fs-1">pthanh@gmail.com</p>
                </div>
            </div>

            <div class="d-flex gap-3 mb-3">
                <div>
                    <span class="iconify-inline fs-2 search-box-icon" data-icon="pepicons-pop:qr-code"></span>
                </div>
                <div>
                    <label class="form-label opacity-85 m-0">Code: KH1</label>
                </div>
            </div>
            <div class="d-flex justify-content-between flex-column flex-lg-row">
                <div class="d-flex gap-3 mb-3">
                    <div>
                        <span class="iconify-inline fs-2 search-box-icon" data-icon="ic:baseline-phone"></span>
                    </div>
                    <div>
                        <label class="form-label opacity-85 m-0">Số điện thoại</label>
                        <p class="fw-medium m-0 fs-1">0393797828</p>
                    </div>
                </div>
            </div>
            <div class="d-flex gap-3 mb-3">
                <div>
                    <span class="iconify-inline fs-2 search-box-icon" data-icon="entypo:address"></span>
                </div>
                <div>
                    <label class="form-label opacity-85 m-0">Địa chỉ</label>
                    <p class="fw-medium m-0 fs-1">Ha Noi</p>
                </div>
            </div>
            <div class="d-flex gap-3 mb-3">
                <div>
                    <span class="iconify-inline fs-2 search-box-icon" data-icon="ic:twotone-attach-money"></span>
                </div>
                <div>
                    <label class="form-label opacity-85 m-0">Tax Code</label>
                    <p class="fw-medium m-0 fs-1">0110611386</p>
                </div>
            </div>
            <div class="d-flex gap-3 mb-3">
                <div>
                    <span class="iconify-inline fs-2 search-box-icon" data-icon="streamline:information-desk-customer"></span>
                </div>
                <div>
                    <label class="form-label opacity-85 m-0">CustomerTypeId</label>
                    <p class="fw-medium m-0 fs-1">1</p>
                </div>
            </div>
            <div class="d-flex gap-3 mb-3">
                <div>
                    <span class="iconify-inline fs-2 search-box-icon" data-icon="streamline:information-desk-customer-solid"></span>
                </div>
                <div>
                    <label class="form-label opacity-85 m-0">CustomerGroupId</label>
                    <p class="fw-medium m-0 fs-1">1</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cus-action d-flex flex-md-column gap-2 w-100 w-md-auto">
        <button class="btn btn-primary flex-1 px-2">
            <span class="iconify-inline fs-2 search-box-icon" data-icon="uil:edit"></span>
        </button>
        <button class="btn btn-danger px-2">
            <span class="iconify-inline fs-2 search-box-icon" data-icon="mi:delete"></span>
        </button>
    </div>
</div>